<div class="container-fluid home-title-bar">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <p class="page-title yellow">Bienvenido</p>
        <p class="page-title">al portal de transferencias</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      Comienza a realizar tus trámites de forma digital
    </div>
    <div class="col-md-6 offset-md-3 text-center">
      <a
        routerLink="/nuevo-destinatario"
        class="btn btn-primary btn-red btn-home"
      >
        Agregar nuevo destinatario
      </a>
    </div>
    <div class="col-md-6 offset-md-3 text-center">
      <a routerLink="/transferir" class="btn btn-primary btn-red btn-home">
        Transferir
      </a>
    </div>
    <div class="col-md-6 offset-md-3 text-center">
      <a routerLink="/historial" class="btn btn-primary btn-red btn-home">
        Ver historial de transferencias
      </a>
    </div>
  </div>
</div>
