<nav class="navbar navbar-expand-md topbar navbar-light bg-light">
  <div class="container-fluid p-0">
    <a routerLink=""
      ><img width="160" alt="Logo Banco Ripley" src="../assets/img/logo.svg"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menuNavbar"
      aria-controls="menuNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            routerLink="/nuevo-destinatario"
            routerLinkActive="active"
            class="menu-link"
            data-bs-toggle="collapse"
            data-bs-target="#menuNavbar"
          >
            Nuevo destinatario
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/transferir"
            routerLinkActive="active"
            class="menu-link"
            data-bs-toggle="collapse"
            data-bs-target="#menuNavbar"
          >
            Transferir
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/historial"
            routerLinkActive="active"
            class="menu-link"
            data-bs-toggle="collapse"
            data-bs-target="#menuNavbar"
          >
            Historial
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid page-container">
  <router-outlet></router-outlet>
</div>
